<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>Profile Modification</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <div th:if="${param.success}">
        You had saved your profile successfully.
    </div>
    <form class="row form-horizontal" action="/profile" method="post">
        <div class="row form-group">
            <label for="input1" class="col-sm-2 control-label">First Name</label>

            <div class="row col-sm-10">
                <input th:value="${user.firstName}" name="firstName" type="text" class="form-control" id="input1"
                       placeholder="First Name">
            </div>
        </div>
        <div class="row form-group">
            <label for="input2" class="col-sm-2 control-label">Last Name</label>

            <div class="row col-sm-10">
                <input th:value="${user.lastName}" name="lastName" type="text" class="form-control" id="input2"
                       placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="input3" class="col-sm-2 control-label">Gender</label>

            <div class="row col-sm-10">
                <select id="input3" name="selectGender" class="form-control">
                    <option th:selected="${user.gender == 'Male'} ? 'selected'" value="MALE">Male</option>
                    <option th:selected="${user.gender == 'Female'} ? 'selected'" value="FEMALE">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="input4" class="col-sm-2 control-label">Date of Birth</label>

            <div class="row col-sm-10">
                <input th:value="${user.birthDate}" name="dateOfBirth" type="date" class="form-control" id="input4"
                       placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="input5" class="col-sm-2 control-label">Home Address</label>

            <div class="row col-sm-10">
                <input th:value="${user.address}" name="address" type="text" class="form-control" id="input5"
                       placeholder="Home Address">
            </div>
        </div>
        <div class="form-group">
            <label for="input7" class="col-sm-2 control-label">Email Address</label>

            <div class="row col-sm-10">
                <input th:value="${user.email}" name="emailAddress" type="email" class="form-control" id="input7"
                       placeholder="Email Address">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>
